.about {
  background-color: #f4f4f4;
  display: flex;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.about p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.1rem;
}
.about-content {
  flex: 1;
  text-align: left;
}
.about-content1 {
  padding: 2rem;
  height: 250px;
  margin: 130px 10px 0 30px;
  flex: 1;
  background-color: rgb(203, 218, 226);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.about-content1 button {
  width: 500px;
  height: 50px;
  margin-top: 1rem;
  background-color: rgb(137, 8, 8);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}
.about-content1 button:hover {
  background-color: red;
}