.contact{
    background-color: white;
}
.contact h2{
    font-size: 40px;
}
.contact p{
    font-size: 20px;
}
.contact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin:30px 0;
}
.contact-item{
    background-color: white;
    padding: 20px;
    transition: transform 0.3s ease;
    text-align: center;
}
.contact-item h3 {
    font-size: 40px;
    margin-bottom: 10px;
}
.contact-item h4 {
    font-size: 20px;
    margin-bottom: 10px;
}
.contact-icon {
    font-size: 50px;
    margin-bottom: 10px;
    color: rgb(130, 130, 245);
}