.review{
    background-color: #f9f9f9;
}
.review h2{
    font-size: 40px;
}
.review p{
    font-size: 20px;
}
.review-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin:30px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #5e5e5e;
}
.review-item{
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: left;
}
.review-item h5 {
    font-size: 16px;
    margin-top: 10px;
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}