.service{
    background-color: #f9f9f9;
}
.services h2{
    font-size: 40px;
}
.services p{
    font-size: 20px;
}
.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin:30px 0;
}
.service-item{
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.service-item:hover{
    transform: scale(1.05);
    box-shadow: 0 2px 4px;
}
.service-icon {
    font-size: 50px;
    margin-bottom: 10px;
    color: rgb(130, 130, 245);
    justify-self: left;

}