.footer {
  background-color: #12263a;
  color: rgb(232, 227, 227);
  padding: 2rem;
  text-align: left;
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.footer a {
  list-style: none;
  display: flex;
  margin-top: 1rem;
  color: rgb(232, 227, 227);
  text-decoration: none;
}

.footer a:hover {
  color: white;

}
.footer-rights{
  margin: 30px 0 0 0;
  padding-top: 23px;
  border-top: 1px solid black;
  text-align: center;
} 