.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
  color: #1f4264;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  z-index: 1000;
}
.navigation{
  width: 100%;
  display: flex; 
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 270px;

}
.logo img{
  width: 270px;
  margin-top: 10px;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 3.2rem;
}

.nav a {
  color: #1f4264;
  text-decoration: none;
  font-size: 1rem;
}


.nav a:hover {
  color: rgb(181, 8, 8)
}
.btn button{
  font-size: 17px;
  padding: 10px 25px;
  border-radius: 9px;
  color: #fff;
  background-color: rgb(181, 8, 8);
  border: none;
}
.btn button:hover{
  background-color: rgb(216, 14, 14);;
}
